.fabric{
    height:200px;
    width:100%;
    background-size: cover;
    margin:5px;
}
.fabric:hover{
    scale:0.9;
}
.fabric-button{
    border:none;
    width:200px;
    background-color:transparent !important;
}
.fabrics-button-container{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .fabric-button{
        border:none;
        width:130px;
        background-color:transparent !important;
    } 
    .fabric{
        height:100px;
        width:100%;
        background-size: cover;
        margin:5px;
    }

}