*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

.bg-container{
  min-height:100vh;
  width:100vw;
  background-color:whitesmoke;
  background-size:cover;
}
.main-container{
  display: flex;
}
.texture-container{
  width:50%;
}
.shirt-container{
  width:50%;
}
#root {
  background-color:black;
  width:100%;
  height:100vh;
  background-size: cover;
}


#three-canvas-container{
  height:100vh !important;
}

@media (max-width: 768px){
  .main-container{
    flex-direction: column;
  }
  .texture-container{
    width:100%;
    order:1;
  }
  .shirt-container{
    width:100%;
  }
}